body {
    background: url("../img/weas.jpg") no-repeat fixed center;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Source Code Pro', monospace;
}
#select{
    font-size: 60px;
    color: white;
}
#summaryComp{
    color: white;
    font-size: 30px;
    border-top:4px solid royalblue;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;



}
#summaryComp, #summaryComp td{
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;


}

select#mb, select#gpu, select#cpu, select#Ram, select#Case, select#Power, select#Strg, select#Brk, select#Krz, select#Ldo, select#Chl {
    font-size: 0.5em;
}
#summaryComp img {
    width: 100px;
    height: auto;
    position: center;
}
#sumAll{
    font-size: 30px;
    position: absolute;
    top: 30px;
    right: 20px;
    color: orchid;

}


p {
    text-align: center;
    position: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s ease-in infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}