body {
    background: url("../img/weas.jpg") no-repeat fixed center;
    background-size: cover;
    background-position: center;
    color: white;
}
#select{
    font-size: 60px;
    color: white;
}
#summaryComp{
    color: white;
    font-size: 30px;
    border-top:4px solid royalblue;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;



}
#summaryComp, #summaryComp td{
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;


}

select#mb, select#gpu, select#cpu, select#Ram, select#Case, select#Power {
    font-size: 0.5em;
}
#summaryComp img {
    width: 100px;
    height: auto;
}
#sumAll{
    font-size: 30px;
}